<app-navbar></app-navbar>
<div class="container-student-list">

  <div class="container-title">
    <h3>Students list</h3>
    <div class="container-bottons">
      <button (click)="logout()" class="btnCerrar">Cerrar sesión</button>
      <a routerLink="/student/add">+</a>
    </div>
  </div>

  <div class="box">

    <div *ngFor="let student of studentslist">
      <app-student-card
        [student]="student"
        (studentClicked)="clickStudent($event)">
      </app-student-card>

    </div>
  </div>
</div>
