<app-navbar></app-navbar>

<div class="container-update-student">

  <div class="container-title">
    <h3>Actualiza los datos de <b>{{student.name}} {{student.lastname}}</b></h3>
    <p></p>
  </div>

  <form [formGroup]="form" (ngSubmit)="saveProduct($event)">

    <label for="">Nombre del estudiante</label>
    <mat-form-field>
      <input formControlName="name" matInput type="text" placeholder="name">
    </mat-form-field>

    <label for="">Apellido del estudiante</label>
    <mat-form-field>
      <input formControlName="lastname" matInput type="text" placeholder="lastname">
    </mat-form-field>

    <label for="">Asistencia del estudiante</label>

    <mat-form-field appearance="fill">
      <mat-label>Asistencia</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of options" >
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-error *ngIf="form.get('name').invalid && form.get('lastname').invalid">Los campos no son correctos</mat-error>
    <button mat-raised-button color="primary" type="submit" *ngIf="form.get('name').valid && form.get('lastname').valid">Guardar</button>

  </form>
</div>
