<!-- <app-navbar></app-navbar> -->
<div class="container-home">
  <div class="container-home-center">
    <div class="box">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
      <a routerLink="/auth/login">Iniciar Sesión</a>
      <a routerLink="/auth/register">Crear cuenta</a>
    </div>
    <div class="box">
      <div class="box-images color"></div>
      <div class="box-images color2"></div>
      <div class="box-images color3"></div>
      <div class="box-images color3"></div>
      <div class="box-images color1"></div>
      <div class="box-images color2"></div>
      <div class="box-images color2"></div>
      <div class="box-images color3"></div>
      <div class="box-images color"></div>
      <div class="box-images color"></div>
      <div class="box-images color2"></div>
      <div class="box-images color1"></div>
    </div>

  </div>
</div>
