.container-add-student{
  background-color: rgb(239,239,239);
  width: 100%;
  min-height: 80%;
  border: 1px solid rgb(239,239,239);

}
.container-add-student form{
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
}
.container-add-student form label:first{
  margin-top: 0px;
}
.container-add-student form label{
  margin-top: 20px;
}
.container-title{
  width: 80%;
  margin: 0 auto;
  padding-top: 2.7em;
  display: block;
  display: flex;
}
.container-title h3{
  font-size: 2em;
}
.container-title a{
  font-size: 2em;
  color: #00b894;
  text-decoration: none;
}

.container-title a:hover{
  color: #16a085;
  border-bottom: 1px solid #16a085;
}
